  <ol class="posts">
    <% @all_posts.each do |post| %>
      <li class="post">
        <p class="title">
          <% unless post.url.blank? %>
            <a class="title-link" href="<%= post.url %>"><%= post.title %></a>
          <% else %>
            <a class="title-link" href="/posts/<%= post.id %>"><%= post.title %></a>
          <% end %>
        </p>
      <span class="subtext"> 
        by <%= post.user.user_name %>
        <a href="/posts/<%= post.id %>"> comments(<%= post.comments.count %>)</a>
      </span>
      </li>
    <% end %>
  </ol>
